<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table, tr, td, th {
            border : 1px solid black;
            border-collapse: collapse;
            padding : 5px 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div style="margin-bottom : 5px;">
            <select v-model="selectItem">
                <option value="userId">아이디</option>
                <option value="userName">이름</option>
            </select>  
            <input v-model="keyword"> 
            <button @click="fnUserList">검색</button>
        </div>     
        <table>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>웹사이트</th>
            </tr>
            <tr v-for="item in list">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.website}}</td>
            </tr>
        </table>
        
    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수
                list : [],
                keyword : "",
                selectItem : "userId"
            };
        },
        methods: {
            // 함수(메소드)
            fnUserList: function () {
                let self = this;
                let param = {};
                if(self.keyword != ""){
                    param = self.selectItem == "userId" ? 
                        {id : self.keyword} : {name : self.keyword};
                }      
                // if(self.selectItem == "userId"){
                //     param = {id : self.keyword};
                // } else {
                //     param = {name : self.keyword};
                // }
                
                $.ajax({
                    url: "https://jsonplaceholder.typicode.com/users",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        console.log(data);
                        self.list = data;
                    }
                });
            }
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnUserList();
        }
    });

    app.mount('#app');
</script>